<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
	    <h4>Por: Gleyson Ferreira da Silva</h4>
        </div>

        <div>

            <h2><a href="">My first post</a></h2>
            <p>Não é a linguagem de programação que define o programador, mas sim sua lógica.</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>

        <div>

            <h2><a href="">My second post</a></h2>
            <p>Programador: “É simples, pode ser composto. Se firma no concreto e torna-se, abstrato.”</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>
    </body>
</html>
