<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
	    <h4>Por Gleyson Ferreira</h4>
        </div>

        <div>
            
            <h2><a href="">Meu Primeiro Post</a></h2>
            <p>Não é a linguagem de programação que define o programador, mas sim sua lógica. </p>
		<p>publicado: 23.03.2018, 20:29</p>
        </div>

        <div>
           
            <h2><a href="">Meu Segundo Post</a></h2>
            <p>Programador: “É simples, pode ser composto. Se firma no concreto e torna-se, abstrato.”</p>
 		<p>publicado 23.03.2018, 20:32</p>
        </div>
    </body>
</html>
